/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    /*overflow: auto;*/
}
h2{
    font-size: 30px;
}
h3{
    font-family: "Poppins", sans-serif;
    margin-top: 20px;
}
p{
    font-family: "Poppins", sans-serif;
}
button{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
a {
    text-decoration: none;
}

#container {
    width: 100%;
    margin: auto;
    padding: 20px 20%;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#container.dark-mode {
    background-color: black;
    color: white;
}

#dark-mode-toggle {
    background-color: transparent;
    border: none; /* opcional: elimina el borde del botón */
    cursor: pointer; /* opcional: cambia el cursor a un puntero cuando se pasa el ratón sobre el botón */
    margin-left: 0px;
}

.dark-mode .card{
    background-color: #252525;
    color: white;

}

.dark-mode .card h2{
    color: white;
} 
.dark-mode .card ul{
    color: white;
}

table {
    display: block;
    margin: 10px 0;
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    overflow-x: auto;
}

.dark-mode table{
    background-color: black;
}

table, th, td{
    border: 1px solid black;
}

.dark-mode table, .dark-mode th, .dark-mode td{
    border: 1px solid white;
}

th, td {
    padding: 15px;
    text-align: left;
}

th{
    background-color: #f2f2f2;
}

.dark-mode th{
    background-color: #252525;
}

/* Estilos para el encabezado */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 40vh;
    position: relative;
    width: 100%;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-image: url('../img/futbol.jpg');
    background-size: cover;
    background-position: 50% 40%;
    filter: brightness(0.5) contrast(1.2) opacity(0.8);
    z-index: -1;
}

.header h1 {
    position: relative ;
    text-align: center;
    font-size: 52px;
    z-index: 1;
    color: white;
    text-shadow: black 4px 4px;
}

.header h2{
    position: relative;
    text-align: center;
    font-size: 24px;
    padding-bottom: 10px;
    z-index: 1;
    color: white;
    text-shadow: black 3px 3px;
}

.header h1, .header h2 {
    margin-top: 50px; 
}
.header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header ul li a{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    color: black;
    margin: 0 30px;
}
.navbar{
    height: auto;
    background-color: #22B698;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    font-weight: 600;
}
.hamburger {
    display: none;
}
.navbar-items {
    display: flex;
    flex-direction: row;
}
.navbar-items li a, button{
    height: auto;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}
.navbar-items li a:active, button:active {
    background-color: #316157;
}
.navbar-items li a:hover, button:hover {
    background-color: #308B79;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.sticky ul{
    margin: 0;
}

.content{
    padding-top: 100px;
}

/* Estilos para el menú desplegable */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown .dropdown-content {
    display: none;
}

.dropdown .dropbtn.active + .dropdown-content {
    display: block;
}

.dropdown .dropdown-content a {
    color: black;
    font-size: 15px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropbtn {
    background-color: #22B698;
    color: black;
    font-family: "Open Sans", sans-serif;
    margin: 0 30px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
.boton_nav{
    color:black;
    font-family: "Open Sans", sans-serif;
}

/* Tarjetas desplegables */
.card{
    display: flex;
    flex-direction: column;
    margin: 2vh 0;
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    position: relative;
}

.dark-mode .card{
    box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.514);
}

.card .base{
    background: none;
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    font-weight: normal;
    max-height: 150px;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: left;
    width: 100%;
    border-width: 0;
    outline: none;
    cursor: pointer;
}

.card .extra{
    padding: 0.5% 2%;
}

.card h3{
    margin: 0;
}

.base:hover{
    background-color: #e4e9e8;
}

.dark-mode .base:hover{
    background-color: #444444;
}

.card:hover img{
    opacity: 0.6;
}

.card img{
    width: 30%;
    height: 150px;
    object-fit: cover;
}

.base div{
    text-align: left;
    margin: 0.5% 2%;
    width: 60%;
}

.base ul{
    margin: 1% 4%;
}

.base div::after{
    content: '+';
    position: absolute;
    right: 20px;
    top: 15px;
    color: black;
    font-size: 1.5em;
    transition: transform 0.5s;
}

.dark-mode .base div::after{
    color: white;
}

.base[aria-expanded="true"] div::after{
    content: '+';
    color: black;
    transform: rotate(135deg);
}

.dark-mode .base[aria-expanded="true"] div::after{
    color: white;
}

.base[aria-expanded="true"] ~ .extra{
    transition: 1s;
}

.extra[hidden]{
    display: none;
    transition: 1s;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    /*position: fixed;*/
    left: 0;
    bottom: 0;
    width: 100%;
}

footer img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

footer p {
    color: #243632;
    font-size: 14px;
}

.dark-mode footer p{
    color: #02E0b4;
    font-size: 14px;
}

/* Estilos para pantallas de tamaño pequeño*/
@media (max-width: 500px) and (max-height: 844px) {
    .hamburger {
        display: block;
        background-color: transparent;
        color: #000; /* Color de las líneas */
        font-size: 30px; /* Tamaño de las líneas */
        border: none; /* Elimina el borde del botón */
    }

    .navbar-items {
        display: none;
        flex-direction: column;
    }
    .navbar.responsive {
        flex-direction: column;
        z-index: 10;
    }
    .navbar.responsive .navbar-items {
        display: flex;
    }
    
    .navbar-items ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar {
        flex-direction: column;
    }

    .content{
        padding-top: 150px;
    }

    .dropdown-content {
        min-width: 100%;
    }

    .card {
        margin: 0.5% 2%;
    }

    .base{
        height: 200px;
    }

    .base[aria-expanded="true"]{
        height: auto;
    }

    .base[aria-expanded="false"] img{
        height: 130px;
        transition: 0.5s;
    }

    .base[aria-expanded="true"] img{
        height: 60px;
        transition: 0.5s;
    }

    .base div{
        width: 100%;
        text-align: center;
        margin: 10px 10px;
    }
    
    .base ul{
        text-align: left;
        padding-left: 20px;
    }

    .base[aria-expanded="false"] ul{
        display: none;
    }
    
    .header{
        height: 500px;
    }
    .header, .footer {
        padding: 10px;
    }

    .card .base{
        max-height: none;
        flex-direction: column;
    }

    .base div::after{
        top: 145px;
        transition: 0.5s;
    }

    .base[aria-expanded="true"] div::after{
        top: 75px;
        transition: 0.5s;
    }

    .base img{
        width: 100%;
    }
}

/* Estilos para las tarjetas cuando la venta es muy estrecha*/
@media (max-width: 1000px){
    #container{
        padding: 20px 10%;
        transition: 2s;
    }

    .base ul{
        margin: 1% 6%;
        transition: 0.5s;
    }
}

@media (max-width: 600px){
    #container{
        padding: 20px 5%;
        transition: 2s;
    }

    .base ul{
        margin: 1% 8%;
        transition: 0.5s;
    }
}