form { max-width: 450px; }

label {
	display: block;
	margin-bottom: 2ex;
	font-weight: bold;
}

input, textarea, select {
	width: 100%;
	padding: 0.6em;
	margin-bottom: 2.4ex;
	box-sizing: border-box;
}

table {
    margin-top: 30px;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
}

th, td {
    padding: 15px;
}

th {
    background-color: #f2f2f2;
}


.dark-mode th, .dark-mode td{
    border: 1px solid white;
}
.dark-mode th{
    background-color: #252525;
}